* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-family: "Montserrat", sans-serif;
  }
  body {
    background: #eee;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    padding: 0px;
  }
  div .container{
    display: flex;
    flex-direction: column;
    width:100vw;
  }
  
  header {
    width: 100vw;
    background-color: #f5ba13;
    margin: auto 0;
    padding: 5px 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
  
  header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
    display: inline-block;
  }
  
  header .light{
    color: white;
    width: 36px;
  }

  .content{
    min-height: 75vh;
    max-width: 100vw;
  }

  footer {
    text-align: center;
    width: 100%;
    height: 2.5rem;
    margin-top: 20px;
  }
  
  footer p {
    color: #ccc;
  }
  .note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
  }
  .note h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
  }
  .note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .note button {
    position: relative;
    float: right;
    margin-right: 20px;
    color: #f5ba13;
    border: none;
    width: 36px;
    height: 36px;
    cursor: pointer;
    outline: none;
    background-color: white;
  }
  
  form {
    position: relative;
    width: 480px;
    margin: 30px auto 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
  }
  form input,
  form textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
  }

  button .addIcon{
      color: #f5ba13;
      border-radius: 50%;
      width: 36px;
      height: 36px;
      cursor: pointer;
      position: absolute;
      right: 18px;
      bottom: -18px;
      outline: none;
      background-color: white;
  }
